<!DOCTYPE html>
<HTML>
    <HEAD>
        <meta charset="utf-8">
        <link rel="stylesheet" href="/css/styles.css">
        <title>{{pageTitle}}</title>
        <link rel="icon" href="/img/icon.png">
    </HEAD>
    <body>
        <div class="main-content">
        {{> header}}
        <p>{{screamIt welcomeText}}</p>
        </div>
        {{> footer}}
    </body>
</HTML>