<!DOCTYPE html>
<HTML>
    <HEAD>
        <meta charset="utf-8">
        <title>{{pageTitle}}</title>
    </HEAD>
    <body>
        {{> header}}
        <p>some text</p>
        {{> footer}}
    </body>
</HTML>